<div class="container">
  <div class="small-4 columns">
 <h5>
      Choose bank
    </h5>
  <div class="row">
    <div class="small-6 columns col-sm-offset-3">
      <div class="creditCardForm">
        <!--<div class="heading">-->
        <!--<h1>Confirm Purchase</h1>-->
        <!--</div>-->

        </div>
        <div class="payment">
          <form>
            <div class="row">
              <div class="small-1 columns">
                <input type="radio"  (click)="chooseBank('hsbc')">
              </div>
              <div class="small-9 columns">
                <label class="text--bold js-option-name" (click)="chooseBank('1')">HSBC</label>
              </div>
            </div>
            <div class="row">
              <div class="small-1 columns">
                <input type="radio"  (click)="chooseBank('natwest')">
              </div>
              <div class="small-9 columns">
                <label class="text--bold js-option-name" (click)="chooseBank('2')">Natwest</label>
              </div>
            </div>
            <div class="row">
              <div class="small-1 columns">
                <input type="radio"  (click)="chooseBank('green')">
              </div>
              <div class="small-9 columns">
                <label class="text--bold js-option-name" (click)="chooseBank('2')">Green Bank</label>
              </div>
            </div>
            <div class="row">
              <div class="small-1 columns">
                <input type="radio"  (click)="chooseBank('lloyds')">
              </div>
              <div class="small-9 columns">
                <label class="text--bold js-option-name" (click)="chooseBank('2')">Lloyds</label>
              </div>
            </div>
            <div class="row">
              <div class="small-1 columns">
                <input type="radio"   (click)="chooseBank('barclays')">
              </div>
              <div class="small-9 columns">
                <label class="text--bold js-option-name" (click)="chooseBank('1')">Barclays</label>
              </div>
            </div>
            <a class="success button large"
               routerLink="/confirmed">Pay</a>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
